<h1>カリキュラムの編集</h1>

<%= render 'form' %>

<%= link_to '表示する', @curriculum, class: "btn btn-default", role: "button" %>
<%= link_to 'ホーム', curriculums_path, class: "btn btn-default", role: "button" %>

